<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<p>
    <%= radio_button "post", "category", "rails"%> 
    <%= radio_button "post", "category", "rails"%>
    <%= radio_button "post", "category", "rails"%>
</p>